[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "http://medizinisches-personal.de/*"
  to = "https://medizinisches-personal.de/:splat"
  status = 301
  force = true

[[redirects]]
  from = "http://www.medizinisches-personal.de/*"
  to = "https://medizinisches-personal.de/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://www.medizinisches-personal.de/*"
  to = "https://medizinisches-personal.de/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "1; mode=block"
    Referrer-Policy = "strict-origin-when-cross-origin"

  [[headers]]
    for = "/sitemap.xml"
    [headers.values]
      Content-Type = "application/xml"
